<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn7-l2AIfe3kzLX16B1KONAiiym_8Jw_w</string>
	<key>GCM_SENDER_ID</key>
	<string>93047353192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsLetter</string>
	<key>PROJECT_ID</key>
	<string>news-letter-e87b2</string>
	<key>STORAGE_BUCKET</key>
	<string>news-letter-e87b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93047353192:ios:c86ae23bb315e219a870dd</string>
</dict>
</plist>